*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  /* filter: invert(); */
}

.sidebar {
  position: fixed;
  top: 6rem;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: calc(100vw - 76vw);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 6rem);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.preview {
  height: 220px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.preview i {
  color: white;
  font-size: 35px;
  transform: translate(50px, 130px);
}

.preview-img {
  position: absolute;
  border-radius: 100%;
}

.browse-button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  background: linear-gradient(180deg, transparent, black);
  opacity: 0;
  transition: 0.3s ease;
}

.browse-button:hover {
  opacity: 1;
}

.browse-input {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  transform: translate(-1px, -26px);
  opacity: 0;
  cursor: pointer;
}
.outer-feild {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
}
.search-feild {
  padding: 10px;
  position: fixed;
  z-index: 2000;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
.pointer {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  position: relative;
  margin-bottom: -1px;
  z-index: 1999;
  border-color: transparent transparent white transparent;
}
.user-search {
  width: 100%;
  border-radius: 6px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.user-search::-webkit-scrollbar {
  display: none;
}
.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.navSideBar,
.navSideBar_level_1 {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.596);

  z-index: 9998;
  top: 11.8%;
  transform: translateX(-100%);

  transition: transform 1s cubic-bezier(0.45, 0, 0.55, 1) 0.5s;
}
.navSideBar_level_1 {
  background-color: transparent;
}
.navSideBar {
  width: 50vw;
}
.navSideBar.active {
  transform: translateX(0px);
  -webkit-transition: transform 1s cubic-bezier(0.45, 0, 0.55, 1) 0.5s;
  -moz-transition: transform 1s cubic-bezier(0.45, 0, 0.55, 1) 0.5s;
  -o-transition: transform 1s cubic-bezier(0.45, 0, 0.55, 1) 0.5s;
  -ms-transition: transform 1s cubic-bezier(0.45, 0, 0.55, 1) 0.5s;
  transition: transform 1s cubic-bezier(0.45, 0, 0.55, 1) 0.5s;
}
.navSideBar_level_1.active {
  transform: translateX(0px);
  -webkit-transition: transform 0.8s cubic-bezier(0.45, 0, 0.55, 1) 0.4s;
  -moz-transition: transform 0.8s cubic-bezier(0.45, 0, 0.55, 1) 0.4s;
  -o-transition: transform 0.8s cubic-bezier(0.45, 0, 0.55, 1) 0.4s;
  -ms-transition: transform 0.8s cubic-bezier(0.45, 0, 0.55, 1) 0.4s;
  transition: transform 0.8s cubic-bezier(0.45, 0, 0.55, 1) 0.4s;
}

.double_like {
  position: relative;
}
.double_like-one {
  position: absolute;
  left: 50%;
  top: 50%;
}

.double_like-one img {
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0.9;
  transition: all 0.7s cubic-bezier(0.45, 0, 0.55, 1);
}

.double_like-one img.active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.7s cubic-bezier(0.45, 0, 0.55, 1);
}
.notification {
  position: relative;
}
.notification_level_l {
  color: red;
  position: absolute;
  top: 0px;
}
.sidebar-main li {
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  background-color: white;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.sidebar-main li:hover:after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: -5px;
  left: 0;
}
